<% layout('layout/basicLayout') -%>

<% block('css', '<link rel="stylesheet" href="/static/css/dashboard.css">') -%>

<% if (user.provider.providerType === 'email' && !user.profile.isEmailVerified) { %>
  <h2 class="visually-hidden"><%=title%></h2>
  <%- include dashboard/emailVerification %>
<% } else { %>
  <h2 class="visually-hidden"><%=title%></h2>

  <% if (user.provider.providerType === 'email') { %>
    <%- include dashboard/resetPassword %>
  <% } %>

  <%- include dashboard/userStatistics %>

  <%- include dashboard/userListTable %>
<% } %>

<input type="hidden" id="userId" value="<%= user && user.id %>" />
<% block('script', '<script src="/static/js/dashboard.js"></script>') -%>
