<% layout('layout/basicLayout') -%>

<h2><%=title%></h2>

<p>
  These Terms of Service (the "Terms of Service") apply to the website located at <%=appDomain%> , 
  and all associated sites linked to www.<%=appDomain%>.
</p>

<p>
  <%=appName%> is the property of <%=appName%> Inc.,
  its subsidiaries and affiliates (collectively <%=appName%> Group).
</p>
